
:root {
    --color-buff: #ECBF83;
    --color-red: #9A0002;
    --color-linen: #FFF5E9;
    --color-blue: #6689A1;
    --color-cafe: #42280F;
    --bg-primary: #FFF5E9;
    --color-lightGrey: #f0f8f9;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 16px;
    --font-color: #1e0d0a;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
                        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                        "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --margin-small: 8px 8px;
    --margin-big: 16px 16px;
    -webkit-text-size-adjust:none;
    line-height: 1.3;

}
html {
    box-sizing: border-box;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: var(--font-size);
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    scrollbar-color: var(--color-lightGrey) var(--bg-primary);
}

*::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

*::-webkit-scrollbar-thumb {
    background: var(--color-lightGrey);
}
a {
    color: var(--color-red);
}
a:visited {
    color: var(--color-cafe);
}
ul li {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--bg-primary);
    line-height: 1.6;
    color: var(--font-color);
    font-family: "Segoe UI", "Helvetica Neue", sans-serif; /*fallback*/
    font-family: var(--font-family-sans);
    padding: 0;
    max-width: 72rem;
    font-size: 1.0rem;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-size: 5rem;
    margin-bottom: 16px;
}
nav {
    font-size: 2em;
}
main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}
